html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 1);
  min-height: 50%;
}
.workspace {
    height: 100%;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    place-items: center;
    
  }

  .img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    cursor: pointer;
  }
