<!DOCTYPE html>
<html>

<head>
  <title>main</title>
  <meta charset="utf-8">
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://uicdn.toast.com/tui-grid/latest/tui-grid.css" />
  <link rel="stylesheet" href="../css/main.css" />
  <script src="https://uicdn.toast.com/tui-grid/latest/tui-grid.js"></script>
</head>

<body>

  <div class="gridBox">

      <div id="grid" class="grid"></div>

  </div>
  <div id="pic" class="imgBox">
    

    
    <img 
      id="targetPic"
      src="../images/1.jpg"
      class="img"
      alt="pic"/>
    
  </div>
</body>

</html>

<script type="text/javascript">
  var gridData = [
    {
      name: 'Beautiful Lies',
      artist: 'Birdy1',
      type: 'https://cdn.pixabay.com/photo/2022/04/24/16/52/animal-7154059_1280.jpg'
    },
    {
      name: 'Beautiful Lies',
      artist: 'Birdy2',
      type: 'https://cdn.pixabay.com/photo/2022/04/24/16/52/animal-7154059_1280.jpg'
    },
    {
      name: 'Beautiful Lies',
      artist: 'Birdy3',
      type: 'https://cdn.pixabay.com/photo/2022/04/24/16/52/animal-7154059_1280.jpg'
    },
    {
      name: 'Beautiful Lies',
      artist: 'Birdy4',
      type: 'http://t1.daumcdn.net/friends/prod/editor/dc8b3d02-a15a-4afa-a88b-989cf2a50476.jpg'
    }
  ]

  const grid = new tui.Grid({
    el: document.getElementById('grid'),
    data: gridData,
    scrollX: false,
    scrollY: false,
    columns: [
      {
        header: 'Name',
        name: 'name',
        width: 150,
      },
      {
        header: 'Artist',
        name: 'artist',
        width: 150
      },
      {
        header: 'Type',
        name: 'type'  
      }
    ]
  });



  grid.on('click', (ev) => {
    let picSrc = grid.getValue(ev.rowKey, "type");
    document.getElementById("targetPic").setAttribute("src", picSrc);
  });
</script>