<!DOCTYPE html>
<html>

<head>
  <title>main</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../css/main.css" />
  <!-- toast -->
  <link rel="stylesheet" href="../css//tui-grid.css" />
  <script src="../plugin/tui-grid.js"></script>

</head>

<body>
  <div class="head">
    <!-- <h1 class="display-1">HOSPITAL</h1> -->
    <h1 class="">HOSPITAL</h1>
  </div>
  <div class="navDiv">
    <nav class="nav">
      <ul class="navUl">
        <li><a href="#" style="opacity: 1;">TUI</a></li>
        <li id="bootstrap" ><a>BSP</a></li>
        <li><a href="#">TEST2</a></li>
        <li><a href="#">TEST3</a></li>
        <li><a href="#">TEST4</a></li>
      </ul>
    </nav>
  </div>
  <div class="form">
    <div class="gridBox">
      <div id="grid" class="grid"></div>
    </div>
    <div id="pic" class="imgBox">
      <img src="../images/arrow.png" class="arrowL" onclick="arrowL()">
      <img id="targetPic" src="../images/7.png" class="img tracking-in-expand-fwd" alt="pic" />
      <img src="../images/arrow.png" class="arrowR" onclick="arrowR()">
      <div id="imgFoo" class="img-foo"></div>
    </div>
  </div>
</body>

</html>

<script type="text/javascript">
  let picSrc = [];
  let imgIndex = 0;
  var gridData = [
    {
      name: 'Beautiful Lies',
      artist: 'Birdy1',
      type: ['../images/1.jpg', '../images/2.jpg']
    },
    {
      name: 'Beautiful Lies',
      artist: 'Birdy2',
      type: ['../images/3.jpg', '../images/4.jpg']
    },
    {
      name: 'Beautiful Lies',
      artist: 'Birdy3',
      type: ['../images/5.jpg', '../images/6.jpg']
    },
    {
      name: 'Beautiful Lies',
      artist: 'Birdy4',
      type: ['../images/1.jpg', '../images/2.jpg', '../images/3.jpg']
    }
  ]

  const grid = new tui.Grid({
    el: document.getElementById('grid'),
    data: gridData,
    scrollX: false,
    scrollY: false,
    columns: [
      {
        header: 'Name',
        name: 'name',
        width: 150,
      },
      {
        header: 'Artist',
        name: 'artist',
        width: 150
      },
      {
        header: 'Image',
        name: 'type'
      }
    ]
  });

  grid.on('click', (ev) => {
    picSrc = grid.getValue(ev.rowKey, "type");
    let imgFoo = document.getElementById("imgFoo")
    imgFoo.innerHTML = "";
    if(picSrc !== null) {
      document.getElementById("targetPic").setAttribute("src", picSrc[0]);
      picSrc.map((img,index) => {
        imgFoo.innerHTML += `<img id="targetPic" src="${img}" alt="../images/7.png"  onclick="imgFooClick(${index})"/>`
      })
    } else {
      document.getElementById("targetPic").setAttribute("src", '../images/7.jpg');
    }
    
  });

  //이미지 클릭 이벤트
  const targetPic = document.getElementById("targetPic");
  targetPic.addEventListener("click", clickEvent);
  function clickEvent(e) {
    let url = targetPic.getAttribute("src");
    if(url === '../images/7.png') {
      alert('이미지가 없습니다.')
      return
    }
    window.open("./picture.html?src=" + url);
  }

  const arrowL = (e) => {
    
    if(picSrc.length === 0) {
      alert('이미지가 없습니다.')
      return
    }
    imgIndex--
    if(picSrc.length === imgIndex) {
      imgIndex = 0
    } else if (imgIndex < 0) {
      imgIndex = picSrc.length - 1
    } else if ( picSrc[imgIndex] === undefined) {
      document.getElementById("targetPic").setAttribute("src", '../images/7.png');
      return
    }
    document.getElementById("targetPic").setAttribute("src", picSrc[imgIndex]);
  }

  const arrowR = (e) => {
    if(picSrc.length === 0) {
      alert('이미지가 없습니다.')
      return
    }
    imgIndex++
    if(picSrc.length === imgIndex) {
      imgIndex = 0
    } else if (imgIndex < 0) {
      imgIndex = picSrc.length
    } else if ( picSrc[imgIndex] === undefined) {
      document.getElementById("targetPic").setAttribute("src", '../images/7.png');
      return
    }
    document.getElementById("targetPic").setAttribute("src", picSrc[imgIndex]);
  }

  const imgFooClick = (e) => {
    imgIndex = e
    if ( picSrc[imgIndex] === undefined) {
      document.getElementById("targetPic").setAttribute("src", '../images/7.png');
      return
    }
    document.getElementById("targetPic").setAttribute("src", picSrc[e]);
  }

  // document.getElementById('bootstrap').addEventListener('click', () => {
  //   if(window.navigator.onLine) {
  //     location.href = './bootstrap.html'
  //   } else {
  //     alert('인터넷 연결을 확인 하세요.')
  //   }
  // })
</script>