<!DOCTYPE html>
<html>

<head>
    <title>picture</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/picture.css" />
</head>

<body>
    <div class="workspace">
        <img id="img" class="img" alt="pic" />
    </div>
</body>

</html>

<script type="text/javascript">
    let query = window.location.search;
    let param = new URLSearchParams(query);
    let src = param.get('src');

    document.getElementById("img").setAttribute("src", src);

    const zoomElement = document.querySelector(".workspace");
    let zoom = 1;
    const ZOOM_SPEED = 0.1;


    document.addEventListener("wheel", function (e) {
        if (e.deltaY > 0) {
            zoomElement.style.transform = `scale(${(zoom += ZOOM_SPEED)})`;
        } else {
            let scaleZ = zoom - ZOOM_SPEED;
            if (scaleZ > 0.1) {
                zoomElement.style.transform = `scale(${(zoom -= ZOOM_SPEED)})`;
            }
        }
    });

    //마우스 드래그
    document.addEventListener("dragover", function (e) {
        e = e || window.event;
        var dragX = e.pageX, dragY = e.pageY;

        console.log("X: " + dragX + " Y: " + dragY);
    }, false);

    var dragItem = document.querySelector("#img");
    var container = document.querySelector(".workspace");

    var active = false;
    var currentX;
    var currentY;
    var initialX;
    var initialY;
    var xOffset = 0;
    var yOffset = 0;

    container.addEventListener("touchstart", dragStart, false);
    container.addEventListener("touchend", dragEnd, false);
    container.addEventListener("touchmove", drag, false);

    container.addEventListener("mousedown", dragStart, false);
    container.addEventListener("mouseup", dragEnd, false);
    container.addEventListener("mousemove", drag, false);

    function dragStart(e) {
        if (e.type === "touchstart") {
            initialX = e.touches[0].clientX - xOffset;
            initialY = e.touches[0].clientY - yOffset;
        } else {
            initialX = e.clientX - xOffset;
            initialY = e.clientY - yOffset;
        }

        if (e.target === dragItem) {
            active = true;
        }
    }

    function dragEnd(e) {
        initialX = currentX;
        initialY = currentY;

        active = false;
    }

    function drag(e) {
        if (active) {

            e.preventDefault();

            if (e.type === "touchmove") {
                currentX = e.touches[0].clientX - initialX;
                currentY = e.touches[0].clientY - initialY;
            } else {
                currentX = e.clientX - initialX;
                currentY = e.clientY - initialY;
            }

            xOffset = currentX;
            yOffset = currentY;

            setTranslate(currentX, currentY, dragItem);
        }
    }

    function setTranslate(xPos, yPos, el) {
        el.style.transform = "translate3d(" + xPos + "px, " + yPos + "px, 0)";
    }

</script>